.dashboard-amount-trend {
	height: 400px;
  border-radius: 2px;
  background-color: #fff;
	padding: 30px;
	.dashboard-amount-trend-title {
		font-weight: bolder;
    color: #B0B1B1;
    margin: 0 0 20px 30px;
	}
}
#dashboardAmountTrend {
  height: 300px;
}