.t-card {
  height: 200px;
  border-radius: 2px;
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  .t-card-left {
    .t-card-title {
      font-weight: bolder;
      color: #B0B1B1;
    }
    .t-card-amount {
      color: #363636;
      margin: 20px 0;
      font-size: 28px;
    }
    .t-card-up {
      color: #363636;
      strong {
        .t-card-up-increase-num {
          color: #F54545;
        }
        .t-card-up-decrease-num {
          color: #009900;
        }
      }
    }
  }
  .t-card-right {
    .t-card-icon {
      font-size: 78px;
    }
  }
}
